In [2]:
'Hello'

'Hello'

In [3]:
"This is a string"

'This is a string'

In [4]:
'I'm a string'

SyntaxError: invalid syntax (<ipython-input-4-ed8ab88975c9>, line 1)

In [6]:
' "This is a quote" '

' "This is a quote" '

In [8]:
print 'Hello World 1'
print 'Hello World 2'

Hello World 1
Hello World 2

In [9]:
print 'Here is a new line \n and here is the second line'

Here is a new line
 and here is the second line

In [11]:
print 'Here is a new line \t and here is the second line' #inserts a tab

Here is a new line 	 and here is the second line

In [12]:
from __future__ import print_function

In [13]:
print("Here is a new line \n and here is the second line")

Here is a new line
 and here is the second line

In [14]:
print Hello World

SyntaxError: invalid syntax (<ipython-input-14-9d30e232d227>, line 1)

In [15]:
print "hello world"

SyntaxError: invalid syntax (<ipython-input-15-d0db7f9aba35>, line 1)

In [16]:
print("hello world")

hello world

In [19]:
len('Hello World')

11

In [20]:
s = 'Hello World'

In [21]:
s

'Hello World'

In [22]:
print('s')

s

In [23]:
print(s)

Hello World

In [24]:
s[0]

'H'

In [25]:
s[1]

'e'

In [26]:
s[:3]

'Hel'

In [27]:
s[1:]

'ello World'

In [28]:
s[:3]

'Hel'

In [29]:
s[:]

'Hello World'

In [30]:
s[-1]

'd'

In [31]:
s[-2]

'l'

In [32]:
s[:-1]

'Hello Worl'

In [33]:
s[::1]

'Hello World'

In [34]:
s[::2]

'HloWrd'

In [35]:
s[::-1]

'dlroW olleH'

In [36]:
s[::-2]

'drWolH'

In [37]:
s

'Hello World'

In [38]:
s = 'World Hello'

In [39]:
s

'World Hello'

In [40]:
s = 'Hello World'

In [41]:
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [45]:
s = s + ' concatenate me'

In [48]:
s = s+'!'

In [49]:
s

'Hello World concatenate me!'

In [53]:
letter = 'zs'

In [54]:
letter

'zs'

In [55]:
letter * 10

'zszszszszszszszszszs'

In [56]:
s = 'Hello'

In [57]:
s

'Hello'

In [58]:
s.upper()

'HELLO'

In [59]:
s.lower()

'hello'

In [62]:
s.capitalize()

'Hello'

In [63]:
letter.upper()

'ZS'

In [64]:
s.split('e')

['H', 'llo']

In [66]:
s = 'Sammy'

In [67]:
s[2:]

'mmy'

In [68]:
s = 'STRING'

In [69]:
print('s')

s

In [70]:
print(s)

STRING

In [71]:
print(This is a string)

SyntaxError: invalid syntax (<ipython-input-71-e6aeda153a51>, line 1)

In [72]:
print('This is a string')

This is a string

In [73]:
s

'STRING'

In [74]:
print('Place my variable here: %s' %(s)''

SyntaxError: invalid syntax (<ipython-input-74-7f522013a6e0>, line 1)

In [75]:
print('Place my variable here: %s' %(s))

Place my variable here: STRING

In [78]:
s = 123

In [79]:
print('Place my variable here: %s' %(s))

Place my variable here: 123

In [80]:
x = 13.13

In [84]:
print('Floating point number: %1.3f' %(13.145))

Floating point number: 13.145

In [85]:
print('Convert to string %s' %(12345))

Convert to string 12345

In [86]:
print('Convert to string %r' %(12345))

Convert to string 12345

In [87]:
print('First: %s, Second: %s, Third: %s' %('hi','two',3))

First: hi, Second: two, Third: 3

In [88]:
print('First: %s, Second: %s' %(2, 2))

First: 2, Second: 2

In [90]:
print('First: {x} Second: {y} Third: {x}'.format(x='inserted',y='two!'))

First: inserted Second: two! Third: inserted

In [91]:
my_list = [1,2,3]

In [92]:
my_list

[1, 2, 3]

In [93]:
my_list

[1, 2, 3]

In [94]:
my_list = ['string',23,1.2,'o']

In [95]:
my_list

['string', 23, 1.2, 'o']

In [96]:
len(my_list)

4

In [97]:
my_list = ['one','two','three',4,5]

In [98]:
my_list[0]

'one'

In [99]:
my_list[1:]

['two', 'three', 4, 5]

In [100]:
my_list[::-1]

[5, 4, 'three', 'two', 'one']

In [101]:
my_list[:3]

['one', 'two', 'three']

In [102]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

In [104]:
my_list = my_list + ['permanent add']

In [105]:
my_list

['one', 'two', 'three', 4, 5, 'permanent add']

In [106]:
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'permanent add',
 'one',
 'two',
 'three',
 4,
 5,
 'permanent add']

In [115]:
l = [1,2,3]

In [116]:
l

[1, 2, 3]

In [117]:
l.append('append me!')

In [118]:
l

[1, 2, 3, 'append me!']

In [119]:
l.pop()

'append me!'

In [120]:
l

[1, 2, 3]

In [121]:
x = l.pop(0)

In [122]:
x

1

In [123]:
l

[2, 3]

In [124]:
l[1]

3

In [125]:
l[99]

IndexError: list index out of range

In [126]:
new_list = ['a','e','x','b','c']

In [127]:
new_list

['a', 'e', 'x', 'b', 'c']

In [128]:
new_list.reverse()

In [129]:
new_list

['c', 'b', 'x', 'e', 'a']

In [130]:
new_list.sort()

In [131]:
new_list

['a', 'b', 'c', 'e', 'x']

In [132]:
num_list = [1,5,9,2,7]

In [133]:
num_list.sort(reverse=TRUE)

NameError: name 'TRUE' is not defined

In [134]:
num_list.sort(reverse=T)

NameError: name 'T' is not defined

In [135]:
num_list.sort(reverse=True)

In [136]:
num_list

[9, 7, 5, 2, 1]

In [3]:
l_1 = [1,2,3]
l_2 = [4,5,6]
l_3 = [7,8,9]

In [4]:
matrix = [l_1, l_2, l_3]

In [5]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [10]:
# Returns first element of a matrix, which then you can further index again because it's a list within a list
matrix[0][0]

1

In [12]:
matrix[1][1]

5

In [15]:
matrix[2][0]

7

In [16]:
# List Comprehension
first_col = [row[0] for row in matrix]

In [17]:
first_col

[1, 4, 7]