In [ ]:
#############################
#### TEST YOUR KNOWLEDGE ####
#############################

In [1]:
#### Write a brief description of the follow Object Types and Data Structures we've learned about.

    # Numbers: integer and float

    # Strings: a sequence of characters; an immutable object

    # Lists: an mutable object that can take multiple datatypes

    # Tuples: an immutable list

    # Dictionaries: a list made up of keys and values

In [ ]:
#############################
########## NUMBERS ##########
#############################

In [3]:
#### Write an equation that uses multiplication, division, an exponent, addition and subtraction that is equal to 100.25

    # 50 + ((5**2)*2) + (3.0/12)

In [4]:
50 + ((5**2)*2) + (3.0/12)

100.25

In [5]:
##### Explain what the cell below will produce and why. Can you change it so the answer is correct?
## 2/3

    # Will produce 0 as Python 2 computes classic division.
    # To correct it, can type either number as a float (.0 after it)

In [107]:
2/3

0.6666666666666666

In [6]:
#### Answer these 3 questions without typing code.  Then type code to check your answer.

    # What is the value of the expression 4 * (6 + 5) : 44
    # What is the value of the expression 4 * 6 + 5 : 29
    # What is the value of the expression 4 + 6 * 5 : 34

In [7]:
4 * (6 + 5)

44

In [8]:
4 * 6 + 5

29

In [9]:
4 + 6 * 5

34

In [10]:
#### What is the type of the result of the expression 3 + 1.5 + 4?

    # Float

In [11]:
3 + 1.5 + 4

8.5

In [12]:
#### What would you use to find a number's square root, as well as it's square?

    # Square root: **0.5
    # Square: **2

In [13]:
#############################
########## STRINGS ##########
#############################

In [14]:
#### Given the string 'hello' give an index command that returns 'e'. Use the code below.

    # s = 'hello'
    # Print out 'e' using indexing
    
    # s[1]

In [16]:
s = 'hello'
s[1]

'e'

In [17]:
#### Reverse the string 'hello' using indexing

    # s[::-1]

In [18]:
s[::-1]

'olleh'

In [19]:
#### Given the string hello, give two methods of producing the letter 'o' using indexing.

    # s[4]
    # s[-1]

In [20]:
s[4]

'o'

In [21]:
s[-1]

'o'

In [22]:
#############################
########## LISTS ############
#############################

In [23]:
#### Build this list [0,0,0] two separate ways.

    # list_1 = [0,0,0]
    
    # list2 = [0,0]        #### Easier method would be [0]*3
    # list2.append(0)

In [38]:
list1 = [0,0,0]
list1

[0, 0, 0]

In [42]:
list2 = [0,0]

In [43]:
list2.append(0)

In [44]:
list2

[0, 0, 0]

In [45]:
#### Reassign 'hello' in this nested list to say 'goodbye' item in this list:

## l = [1,2,[3,4,'hello']]

    # l[2][2] = 'goodbye'

In [46]:
l = [1,2,[3,4,'hello']]

In [48]:
l[2][2] = 'goodbye'

In [49]:
l

[1, 2, [3, 4, 'goodbye']]

In [50]:
#### Sort the list below:

## l = [5,3,4,6,1]

    # l.sort()

In [51]:
l = [5,3,4,6,1]

In [56]:
l.sort()

In [54]:
l

[1, 3, 4, 5, 6]

In [57]:
#############################
####### DICTIONARIES ########
#############################

In [59]:
#### Using keys and indexing, grab the 'hello' from the following dictionaries:

## d = {'simple_key':'hello'}

    # d['simple_key']

## d = {'k1':{'k2':'hello'}}

    # d['k1']['k2']

## d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

    # d['k1'][0]['nest_key'][1][0]
    
## d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

    # d['k1'][2]['k2'][1]['tough'][2][0]

In [60]:
d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [61]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [111]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [113]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [114]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [115]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [92]:
#### Can you sort a dictionary? Why or why not?

    # No but I'm not sure why.  #### It's because normal dictionaries are mappings, not a sequence.

In [ ]:
#############################
######### TUPLES ############
#############################

In [94]:
#### What is the major difference between tuples and lists?

    # Tuples are immutable; lists are mutable
    
#### How do you create a tuple?
    
    # Using parentheses instead of square or curly brackets

In [95]:
#############################
########## SETS #############
#############################

In [96]:
#### What is unique about sets?

    # A set can only contain unique/distinct values

#### Use a set to find the unique values of the list below

## l = [1,2,2,33,4,4,11,22,3,3,2]

In [97]:
l = [1,2,2,33,4,4,11,22,3,3,2]
set(l)

{1, 2, 3, 4, 11, 22, 33}

In [98]:
#############################
######## BOOLEANS ###########
#############################

In [99]:
#### What will be the resulting Boolean of the following pieces of code.

## 2 > 3

    # False
    
## 3 <= 2

    # False
    
## 3 == 2.0

    # False

## 3.0 == 3

    # True

## 4**0.5 != 2

    # False

In [100]:
#### Final Question: What is the boolean output of the cell block below?


## two nested lists
## l_one = [1,2,[3,4]]
## l_two = [1,2,{'k1':4}]

## True or False?
## l_one[2][0] >= l_two[2]['k1']

    # 3 >= 4
    # False

In [101]:
2 > 3

False

In [102]:
3 <= 2

False

In [103]:
3 == 2.0

False

In [104]:
3.0 == 3

True

In [105]:
4**0.5 != 2

False

In [106]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]
l_one[2][0] >= l_two[2]['k1']

False